/* Rules for every mode and device */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700&display=swap');

* {
    color: white;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    text-rendering: optimizeLegibility;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#videobcg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out;
    overflow: hidden;
    z-index: -100;
    filter: blur(36px);
    -webkit-filter: blur(36px);
}

#videobcg.visible {
    visibility: visible;
    opacity: 1;
}

#videobcg.hidden {
    visibility: hidden;
    opacity: 0;
}

#typing {
    display: flex;
    box-sizing: border-box;
    height: 100%;
    padding: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

#typing.visible-dark {
    background-color: rgba(0,0,0,0.6);
}

#typing.hidden-dark {
    background-color: rgba(0,0,0,0.35);
}

#typing-text {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%
}

.buttons-block {
    margin-top: 32px;
    margin-bottom: 16px;
}

html, body {
    margin: 0px;
    padding: 0px;
}

head {
    display: none;
}

body {
    position: relative;
    overflow: hidden;
    background: linear-gradient(312deg, #2d132c, #3282b8, #b030b0, #341677);
    background-size: 600% 600%;
    background-repeat: no-repeat;
    -webkit-animation: BgAnim 32s ease infinite;
    -moz-animation: BgAnim 32s ease infinite;
    -o-animation: BgAnim 32s ease infinite;
    -ms-animation: BgAnim 32s ease infinite;
    animation: BgAnim 32s ease infinite;
    height: 100%;
}

html {
    height: 100%;
    overflow: hidden;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    cursor: default;
}

p {
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Ubuntu Mono', monospace;
    cursor: default;
    width: fit-content;
    margin: 0px;
}

p.upper-headline {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 0px;
    margin-bottom: 0px;
    color: rgb(255, 88, 88);
}

.wrap {
    border-right: 0.05em solid #fff; 
    animation: blinking 1.5s steps(1) infinite;
}

.avatar {
    background-image: url(assets/avatar.jpg);
    background-position: center;
    background-size: 145%;
    background-repeat: no-repeat;
    margin: 0px;
    border-radius: 100%;
    border: 12px solid white;
    display: inline-block;
}

button {
    font-family: 'Ubuntu Mono', monospace;
    outline: none;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 16px;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    transition-duration: 0.5s;
    font-size: 18px;
    padding: 16px;
    margin: 4px;
}

button:hover {
    outline: none;
    background-color: white;
    color: black;
}

@-webkit-keyframes BgAnim {
    0% {
        background-position:2% 0%;
    }
    50% {
        background-position:99% 100%;
    }
    100% {
        background-position:2% 0%;
    }
}

@-moz-keyframes BgAnim {
    0% {
        background-position:2% 0%;
    }
    50% {
        background-position:99% 100%;
    }
    100% {
        background-position:2% 0%;
    }
}

@-o-keyframes BgAnim {
    0% {
        background-position:2% 0%;
    }
    50% {
        background-position:99% 100%;
    }
    100% {
        background-position:2% 0%;
    }
}

@-ms-keyframes BgAnim {
    0% {
        background-position:2% 0%;
    }
    50% {
        background-position:99% 100%;
    }
    100% {
        background-position:2% 0%;
    }
}

@keyframes BgAnim {
    0% {
        background-position:2% 0%;
    }
    50% {
        background-position:99% 100%;
    }
    100% {
        background-position:2% 0%;
    }
}

@-webkit-keyframes blinking {
    0%  {
        color: #fff;
    }
    50% {
        color: transparent;
    }
    100% {
        color: #fff;
    }
}

@-moz-keyframes blinking {
    0%  {
        border-color: #fff;
    }
    50% {
        border-color: transparent;
    }
    100% {
        border-color: #fff;
    }
}

@-o-keyframes blinking {
    0%  {
        border-color: #fff;
    }
    50% {
        border-color: transparent;
    }
    100% {
        border-color: #fff;
    }
}

@-ms-keyframes blinking {
    0%  {
        border-color: #fff;
    }
    50% {
        border-color: transparent;
    }
    100% {
        border-color: #fff;
    }
}

@keyframes blinking {
    0%  {
        border-color: #fff;
    }
    50% {
        border-color: transparent;
    }
    100% {
        border-color: #fff;
    }
}

/*
    Rules for tablets and PC's in landscape
*/
@media (min-width: 840px) and (orientation: landscape) {
    h1 {
        font-size: 48px;
        margin-top: 8px;
        margin-bottom: 32px;
    }

    #typing {
        border: solid 24px white;
    }
    
    .avatar {
        height: 192px;
        width: 192px;
    }
}

/*
    Rules for tablets and PC's in portrait
*/
@media (min-height: 860px) and (orientation: portrait) {
    h1 {
        font-size: 48px;
        margin-top: 8px;
        margin-bottom: 32px;
    }

    #typing {
        border: solid 12px white;
    }

    .avatar {
        height: 192px;
        width: 192px;
    }
}

/*
    Rules for regular phones in portait mode
*/
@media (max-height: 850px) and (orientation: portrait) {
    h1 {
        font-size: 36px;
        margin-top: 8px;
        margin-bottom: 24px;
    }

    #typing {
        border: solid 12px white;
    }

    .buttons-block {
        margin-top: 24px;
    }

    .avatar {
        height: 128px;
        width: 128px;
    }
}

/*
    Rules for regular phones landscape
*/
@media (max-width: 830px) and (orientation: landscape) {
    h1 {
        font-size: 36px;
        margin-top: 8px;
        margin-bottom: 12px;
    }

    #typing {
        border: solid 12px white;
    }

    .buttons-block {
        margin-top: 12px;
    }
        
    .avatar {
        display: none;
    }
}

/*
    Special rule for portrait and landscape modes for small phones (e.g. iPhone 5S/SE and others)
*/
@media (max-width: 340px) and (orientation: portrait) {
    h1 {
        font-size: 32px;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    #typing {
        border: solid 12px white;
    }

    .buttons-block {
        margin-top: 8px;
    }
        
    .avatar {
        display: none;
    }
}

@media (max-height: 320px) and (orientation: landscape) {
    h1 {
        font-size: 32px;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    #typing {
        border: solid 12px white;
    }

    .buttons-block {
        margin-top: 8px;
    }
        
    .avatar {
        display: none;
    }
}