* {
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html,
body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

body {
    position: relative;
    overflow: hidden;
    background-color: #242424;
    height: 100%;
    margin: 0;
}

head {
    display: none;
}

h1 {
    width: fit-content;
    font-size: 56px;
    font-weight: bold;
    cursor: default;
    margin: 0px auto;
    padding: 0px;
}

a {
    cursor: pointer;
    width: fit-content;
    margin: 0 auto;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    -ms-transition-duration: .5s;
    transition-duration: .5s;
    outline: none;
}

a:hover {
    color: #ff6464;
}

#text {
    color: black;
    cursor: default;
    width: fit-content;
    margin: 0 auto;
    margin-top: 8px;
    margin-bottom: 12px;
}

.cont-elements {
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.flex-container {
    display: flex;
    box-sizing: border-box;
    height: 100%;
    padding: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sad-icon {
    display: inline-block;
    width: 192px;
    height: 192px;
    margin: 36px;
    background-image: url(assets/icons/sad-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    border-radius: 100%;
    box-shadow: 0px 0px 30px rgba(0,0,0,.3);
    transition: all .3s ease-in-out 0s;
}

#wrap {
    border-right: 3px solid #ff6464;
    color: #ff6464;
    animation: blinking 1.5s steps(1) infinite;
}

@-webkit-keyframes blinking {
    0%  {
        border-color: #ff6464;
    }
    50% {
        color: transparent;
    }
    100% {
        border-color: #ff6464;
    }
}

@-moz-keyframes blinking {
    0%  {
        border-color: #ff6464;
    }
    50% {
        border-color: transparent;
    }
    100% {
        border-color: #ff6464;
    }
}

@-o-keyframes blinking {
    0%  {
        border-color: #ff6464;
    }
    50% {
        border-color: transparent;
    }
    100% {
        border-color: #ff6464;
    }
}

@-ms-keyframes blinking {
    0%  {
        border-color: #ff6464;
    }
    50% {
        border-color: transparent;
    }
    100% {
        border-color: #ff6464;
    }
}

@keyframes blinking {
    0%  {
        border-color: #ff6464;
    }
    50% {
        border-color: transparent;
    }
    100% {
        border-color: #ff6464;
    }
}

@media (prefers-color-scheme: light) {
    * {
        color: black;
    }

    a {
        color: rgba(0, 0, 0, .5);
    }

    .sad-icon {
        background-color: #fff;
    }

    body {
        background-color: white;
    }

    #text {
        color: black;
    }
}

@media (prefers-color-scheme: dark) {
    * {
        color: white;
    }

    a {
        color: rgba(255, 255, 255, .5);
    }

    .sad-icon {
        background-color: #333;
    }

    body {
        background-color: #242424;
    }

    #text {
        color: white;
    }
}

@media (max-width: 830px) and (orientation: landscape) {
    h1 {
        font-size: 3rem;
    }
    .sad-icon {
        height: 144px;
        width: 144px;
    }
}

@media (max-height: 320px) and (orientation: landscape) {
    h1 {
        font-size: 3rem;
    }

    .sad-icon {
        display: none;
    }
}
