/* Importing Ubuntu Font */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&display=swap');

/* Hiding Scrollbars */
::-webkit-scrollbar {
    display: none;
}

/*
    Flickity Rules
    75% width of carousel
*/
.main-carousel {
    width: 100%;
}

/* Hiding carousel side buttons */
.flickity-button {
    display: none;
}

/* Rules for carousel cell */
.carousel-cell {
    display: block;
    width: 100%;
    height: 370px;
    margin: 24px;
    text-align: center;
    color: white;
}

/* Rules for inactive circles */
.flickity-page-dots .dot {
    background: transparent !important;
    border: 2px solid rgb(255, 88, 88) !important;
}

/* Fill for active circles */
.flickity-page-dots .dot.is-selected {
    background: rgb(255, 88, 88) !important;
}

/* Some rules for dots padding */
.flickity-page-dots {
    bottom: 0px !important;
}

/* Set border-box, margin and padding 0px, Ubuntu Font for all elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

/* Set max height for blocks */
html, body {
    height: 100%;
}

/*
    Header items
    ----------------------
    Rules for header <div>
*/
header {
    position: fixed;
    display: flex;
    padding: 12px 10%;
    width: 100%;
    height: 10%;
    justify-content: flex-end;
    align-items: center;
    z-index: 100;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
}

li, a, button {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

/* Set transition for links via <a> */
a {
    transition: all 0.3s ease-in-out 0s;
}

/* Link rule (as h2) */
a.invert {
    margin: 16px;
    font-weight: 700;
    font-size: 28px;
}

/* Rule for invert class */
a.invert:hover {
    color: rgb(255, 88, 88);
}

/* Color on hover links via <a> */
a:hover {
    color: rgb(255, 88, 88);
}

/* Rules for <li> */
.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

/* Rules for inactive "decorating" word */
a.decor {
    color: rgb(255, 88, 88);
    cursor: default;
}

li.decor {
    color: rgb(255, 88, 88);
    cursor: default;
}


/*
    Container Styles
    ----------------------
    Rules for main blocks (flexbox containers)
*/
.flexbox-container {
    display: flex;
    height: 100%;
    padding-left: 16px;
    padding-right: 16px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

/* Rules for row direction blocks */
.row-block {
    display: flex;
    flex-direction: column;
}

/* Rules for footer block */
footer {
    display: flex;
    height: 15%;
    padding-left: 16px;
    padding-right: 16px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*
    Element Styles
    ----------------------
    Rules for logo image
*/
.logo {
    display: inline-block;
    width: 192px;
    height: 192px;
    margin: 16px;
    background-image: url(assets/cons-icons/logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    border-radius: 100%;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.3);
}

/* Rules for svg icons */
.icon {
    display: inline-block;
    width: 144px;
    height: 144px;
    margin: 16px;
    background-size: cover;
}

/* Paths for svg icons */
.icon-puzzle {
    background-image: url(assets/cons-icons/puzzle-outline.svg);
    background-repeat: no-repeat;
}

.icon-box {
    background-image: url(assets/cons-icons/drawing-box.svg);
    background-repeat: no-repeat;
}

.icon-emote {
    background-image: url(assets/cons-icons/emoticon-happy-outline.svg);
    background-repeat: no-repeat;
}

/* Rules for <h1> */
h1 {
    margin-top: 24px;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: rgba(255, 88, 88, 0.87);
}

/* Rules for <h2> */
h2 {
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}

/* Rules for <p> */
p {
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
}

/* Rules for avatar */
.avatar {
    display: inline-block;
    width: 64px;
    height: 64px;
    background-image: url(assets/avatar.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: 4px solid rgb(255, 88, 88);
    border-radius: 100%;
}

.account-link {
    margin-right: auto;
}

/* Rules for buttons */
button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: transparent;
    border-radius: 50px;
    transition: all 0.2s ease-in 0s;
    cursor: pointer;
    outline: none;
}

.row-block > button {
    margin: 8px;
}

/* Rule for disabled buttons */
button:disabled {
    cursor: default;
}

/* Rules for hovering over buttons */
button.active:hover {
    color: white;
    background-color: rgb(255, 88, 88);
    border: 2px solid rgb(255, 88, 88);
}

/* Light Theme */
@media (prefers-color-scheme: light) {
    /* Setting white blocks (Landing Block, Screenshot Block, Footer) */
    body {
        background-color: white;
    }

    header {
        background-color: rgba(255, 255, 255, 0.9);
    }

    /* Setting dark blocks (Uniqueness Block, FAQ Block) */
    .flexbox-container.uniqueness-block, .flexbox-container.faq-block {
        background-color: #232020;
    }

    /* Setting black text for <li>, <a>, <button> */
    li, a, button {
        color: black;
    }

    /* Setting white text for <a> on dark blocks */
    a.invert {
        color: white;
    }

    /* Setting black border for buttons */
    button {
        border: 2px solid black;
    }

    /* Setting rules for disabled buttons */
    button:disabled {
        color: rgba(0, 0, 0, 0.3);
        border: 2px solid rgba(0, 0, 0, 0.3);
    }

    /* Setting white background of logo */
    .logo {
        background-color: #fff;
    }

    /* Setting light and dark rules for text for this theme */
    h2.dark {
        color: rgba(255, 255, 255, 0.87);
    }

    h2.light {
        color: rgba(0, 0, 0, 0.87);
    }

    p.dark {
        color: rgba(255, 255, 255, 0.4);
    }

    p.light {
        color: rgba(0, 0, 0, 0.4);
    }
}

/* Dark Theme */
@media (prefers-color-scheme: dark) {
    /* Setting dark blocks (Landing Block, Screenshot Block, Footer) */
    body {
        background-color: #232020;
    }

    header {
        background-color: rgba(35, 32, 32, 0.9);
    }

    /* Setting white blocks (Uniqueness Block, FAQ Block) */
    .flexbox-container.uniqueness-block, .flexbox-container.faq-block {
        background-color: white;
    }

    /* Setting white text for <li>, <a>, <button> */
    li, a, button {
        color: white;
    }

    /* Setting black text for <a> on light blocks */
    a.invert {
        color: black;
    }

    /* Setting white border for buttons */
    button {
        border: 2px solid white;
    }

    /* Setting rules for disabled buttons */
    button:disabled {
        color: rgba(255, 255, 255, 0.3);
        border: 2px solid rgba(255, 255, 255, 0.3);
    }

    /* Setting dark background of logo */
    .logo {
        background-color: #333;
    }

    /* Setting light and dark rules for text for this theme */
    h2.dark {
        color: rgba(0, 0, 0, 0.87);
    }

    h2.light {
        color: rgba(255, 255, 255, 0.87);
    }

    p.dark {
        color: rgba(0, 0, 0, 0.4);
    }

    p.light {
        color: rgba(255, 255, 255, 0.4);
    }
}

/* Rules for tablets and PC's in portrait */
@media (max-width: 530px) and (orientation: portrait) {
    /* Hiding avatar */
    .avatar {
        display: none;
    }

    /* Changing flex-end to center */
    header {
        justify-content: center;
    }
}

/* Phone Rules (Portrait) */
@media (max-height: 850px) and (orientation: portrait) {
    /* Adding more side paddings */
    .flexbox-container {
        padding-left: 24px;
        padding-right: 24px;
    }

    /* Changing header and landing block height */
    header {
        height: 13%;
    }

    /* Disabling avatar in header */
    .avatar {
        display: none;
    }

    /* Changing icon size */
    .icon {
        width: 96px;
        height: 96px;
        margin: 0;
    }

    /* Special text rules */
    h1 {
        margin-top: 18px;
        margin-bottom: 18px;
        font-size: 28px;
    }

    h1.title {
        font-size: 36px;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 15px;
    }

    li, a, button {
        font-weight: 500;
        font-size: 15px;
    }

    a.invert {
        font-size: 24px;
    }

    li.decor {
        padding-top: 4px;
    }

    /* Setting special height for cell of carousel div */
    .carousel-cell {
        height: 270px;
    }
}

/* Phone Rules (Landscape) */
@media (max-width: 830px) and (orientation: landscape) {
    /* Removing header (For some time) */
    header {
        display: none;
    }

    /* Setting height 25% for footer */
    footer {
        height: 25%;
    }

    /* Setting smaller logo and icon size */
    .logo {
        width: 160px;
        height: 160px;
    }

    .icon {
        width: 96px;
        height: 96px;
        margin: 0;
    }

    /* Special text rules */
    h1 {
        margin-top: 18px;
        margin-bottom: 18px;
        font-size: 28px;
    }

    h1.title {
        font-size: 36px;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 15px;
    }

    li, a, button {
        font-weight: 500;
        font-size: 15px;
    }

    a.invert {
        font-size: 24px;
    }

    li.decor {
        padding-top: 4px;
    }

    /* Setting special height for cell of carousel div */
    .carousel-cell {
        height: 225px;
    }
}

/* Special rule for portrait and landscape modes for small phones (e.g. iPhone 5S/SE and others) */
@media (max-width: 340px) and (orientation: portrait) {
    /* Setting 15% height of header and 85% of landing block */
    header {
        height: 15%;
    }

    /* Setting 25% height of footer */
    footer {
        height: 25%;
    }

    /* Hiding avatar */
    .avatar {
        display: none;
    }

    /* Setting special buttons padding */
    button {
        padding: 8px 16px;
    }

    /* Setting smaller logo and icon size */
    .logo {
        width: 144px;
        height: 144px;
    }

    .icon {
        width: 96px;
        height: 96px;
        margin: 0;
    }

    /* Special text rules */
    h1 {
        margin-top: 18px;
        margin-bottom: 18px;
        font-size: 28px;
    }

    h1.title {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }

    li, a, button {
        font-weight: 500;
        font-size: 14px;
    }

    a.invert {
        font-size: 24px;
    }

    li.decor {
        padding-top: 4px;
    }

    /* Setting special height for cell of carousel div */
    .carousel-cell {
        height: 260px;
    }
}

@media (max-height: 320px) and (orientation: landscape) {
    /* Removing header, setting full height of landing block, setting 30% height of footer */
    header {
        display: none;
    }

    .flexbox-container.landing-block {
        height: 100%;
    }

    footer {
        height: 30%;
    }

    /* Setting special buttons padding */
    button {
        padding: 8px 16px;
    }

    /* Setting removing logo and icon */
    .logo, .icon {
        display: none;
    }

    /* Special text rules */
    h1 {
        font-size: 28px;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    h1.title {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 15px;
    }

    li, a, button {
        font-weight: 500;
        font-size: 14px;
    }

    li.decor {
        padding-top: 4px;
    }

    a.invert {
        font-size: 24px;
    }

    /* Setting special height for cell of carousel div */
    .carousel-cell {
        height: 150px;
    }
}
